@mixin clearFix {
    
    &::after
    {
        content: '';
        display: table;
        clear: both;
    }

}

@mixin absCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

//Media Queries Manager

//BreakPoint argument choices

//phone : 0 - 600px
//tabPort (tablet portrait) : 600 - 900px
//tabLand (tablet landscape) : 800 - 1200px
//bigScreen : 1800px+

@mixin response($viewPort) {
    @if ($viewPort == phone) {
        @media only screen and (max-width: 37.5em) // 600px
        {
            @content
        }
    };

    @if ($viewPort == tabPort) {
        @media only screen and (max-width: 56.25em) // 900px
        {
            @content
        }
    };

    @if ($viewPort == tabLand) {
        @media only screen and (max-width: 75em) // 1200px
        {
            @content
        }
    };

    @if ($viewPort == bigScreen) {
        @media only screen and (min-width: 112.5em) // 1800px
        {
            @content
        }
    }
}